In [7]:
# Import libraries
import pandas as pd
import numpy as np
import os
import glob

### Load features and combine into a single dataset

In [18]:
# Inspect files
feature_files = os.listdir('../data/cluster_features/')
print(feature_files)

['01_total_number_of_comments.csv', '02_unique_articles_df.csv', '03_unique_articles_single_comment_df.csv', '04_unique_articles_mulitple_comment_df.csv', '05_commentor_activity_duration.csv', '06_commentor_username_length.csv', '07_commentor_comment_body_metrics.csv', '08_hours_between_metrics.csv', '09_comments_dow.csv', '10_comments_hour.csv', '11_in_season_comments.csv', '12_commentor_max_comments_df.csv']

In [19]:
# Expected number of features
total_cols = 0
for file in feature_files:
    df = pd.read_csv(f'../data/cluster_features/{file}', nrows=5)
    total_cols += df.shape[1] - 1  # Exclude index
total_cols

56

['../data/cluster_features/01_total_number_of_comments.csv',
 '../data/cluster_features/02_unique_articles_df.csv',
 '../data/cluster_features/03_unique_articles_single_comment_df.csv',
 '../data/cluster_features/04_unique_articles_mulitple_comment_df.csv',
 '../data/cluster_features/05_commentor_activity_duration.csv',
 '../data/cluster_features/06_commentor_username_length.csv',
 '../data/cluster_features/07_commentor_comment_body_metrics.csv',
 '../data/cluster_features/08_hours_between_metrics.csv',
 '../data/cluster_features/09_comments_dow.csv',
 '../data/cluster_features/10_comments_hour.csv',
 '../data/cluster_features/11_in_season_comments.csv',
 '../data/cluster_features/12_commentor_max_comments_df.csv']

In [26]:
pd.read_csv(feature_files_w_path[0], header=0, index_col=0, nrows=5)

,total_number_of_comments,commentor.1
commentor,,
\nguitarkevin,1,\nguitarkevin
\npraetorian12,1,\npraetorian12
"""All Eyez On Me"" in theaters NOW!!!",6,"""All Eyez On Me"" in theaters NOW!!!"
"""All Eyez On Me"" in theaters june 16 2017",49,"""All Eyez On Me"" in theaters june 16 2017"
"""Coach""Davis",31,"""Coach""Davis"

In [31]:
# Add the path to each feature file
feature_files_w_path = list()
for f in feature_files:
    feature_files_w_path.append(f'../data/cluster_features/{f}')

# Read the first file to use as seed
df = pd.read_csv(feature_files_w_path[0], header=0, index_col=0)

# Iterate through files and merge into seed
for df_ in feature_files_w_path[1:]:
    df_next = pd.read_csv(df_, header=0, index_col=0)
    df = df.merge(df_next, on='commentor', how='left')
    
df.shape

(165718, 56)

In [36]:
# Write combined dataset to flat file
df.to_csv('../data/cleaned/comment_features.csv', header=True, index=True)

In [35]:
os.remove('comment_features.csv')